<div class="container pt-5 h-100 fixed-top" style="background-color: teal">
  
  <div class="text-light p-5 text-center">
      <h1>MyCaddie</h1>
      <div><span class="fas fa-golf-ball fa-6x"></span></div>
    </div>
  <!--<div class="form-group">
    <input class="form-control" type="text" [(ngModel)]="email" placeholder="email">
  </div>
  <div class="form-group">
    <input class="form-control" type="password" [(ngModel)]="password" placeholder="Mot de passe">
  </div>-->
    <!--<button class="btn btn-light" (click)="login()" [disabled]="!email || !password">Entrer</button>-->
    <button class="btn btn-light btn-lg btn-block" (click)="loginWithGoogle()" >Se conecter avec google</button>
  <!--<div class="form-group">
    <button class="btn btn-link text-light" (click)="resetPassword()">Mot de passe oublié?</button>
    <button class="btn btn-link text-light" (click)="signIn()">Créez un compte</button>
  </div>-->
</div>